<!doctype html>
<html lang="fr" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="inc/css/styles.css">
</head>

<body>
    <header>
        <h1>
            Learning Vue.Js with Vue documentation
        </h1>
    </header>
    <main>
        <section>
            <h2>Introduction</h2>
            <h3>Rendu déclaratif</h3>
            <div id="app">
                <h4>{{ message }}</h4>
            </div>
            <div id="app-2">
                <span v-bind:title="message">
                    Passez votre souris sur moi pour voir mon titre lié dynamiquement.
                </span>
            </div>
            <hr>
            <h3>Conditions et boucles</h3>
            <div>
                <p>Utilisation de v-if</p>
                <div id="app-3">
                    <button v-on:click="seen = !seen">Permuter</button>
                    <transition name="fade">
                        <p v-if="seen">Maintenant vous me voyez !</p>
                    </transition>
                </div>
            </div>
        </section>
        <hr>
        <hr>
        <section>
            <h2>Test Axios</h2>
            <h3>{{ message2 }}</h3>
            <input type="text" v-model="message2" placeholder="rajouter un sous-titre">
            <input v-model="message" placeholder="modifiez-moi">
            <p>Le message est : {{ message }}</p>

            <div id="axios-app-1">
                {{ cineMovieInfo }}
                <ul>
                    <li v-for="film in cineMovieInfo">
                        <h3 v-text="film.title"></h3>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer></footer>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="inc/js/main.js"></script>
</body>

</html>